<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="/main.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Secret Comments</title>
</head>
<body>
    <h1>Comment on this secret</h1>
    <h2>"<%= secret.content %>"</h2>
    <a href="/home"><button>Home</button></a>
    <hr>
    <% if(messages.error) { %>
        <p>Error(s):</p>
        <ul>
        <% for (var x in messages.error) { %>
            <li><%= messages.error[x] %></li>
        <% } %>
        </ul>
    <% } %>
    <div>
        <form action="/add_comment/<%= secret.id %>" method="post">
            <table>
                <tr>
                    <td><h3>Add an Anonymous Secret:</h3></td>
                </tr>
                <tr>
                    <td><input class="text_input" type="text" name="content"></td>
                    <td><input type="submit" value="Add Comment"></td>
                </tr>
            </table>
        </form>
    </div>
    <div>
        <h3>Recent Comments</h3>
        <% if(secret.comments.length){ %>
            <% for(var x = 0; x < secret.comments.length; x++){ %>
                <p><%= secret.comments[x].content %></p>
            <% } %>
        <% }else{ %>
            <p>No comments yet. Be the first to add a comment on this secret!</p>
        <% } %>
    </div>
</body>
</html>